<section class="font-display">
  <form class="mt-20 mx-auto w-full sm:w-96 p-10">
    <h2 class="text-2xl font-light pb-2 mb-4 border-b border-gray-300">
      Login.
    </h2>
    <div class="w-full mb-4">
      <label for="email" class="ml-1">Email</label>
      <input type="text" id="email" class="input-primary" autocomplete="off" />
    </div>
    <div class="w-full mb-4">
      <label for="password" class="ml-1">Password</label>
      <input type="password" id="password" class="input-primary" />
    </div>
    <div class="w-full">
      <button class="btn-primary w-1/2 float-right">Submit</button>
    </div>
  </form>
</section>
